.mark{
    position: relative;
}

.mark_selector {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    outline: 1px solid rgba(255, 255, 255, 0.87);
}

.mark_select{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #242424;
}

.mark_select__active{
    display: flex;
}

.mark_options{
    width: 100px;
    padding: 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 3px;
    background-color: #242424;
    outline: none;
    color: rgba(255, 255, 255, 0.87);
}

.mark_options:hover{
    font-weight: 500;
}

.mark_options__home{
    background: rgba(41, 182, 40, 0.34);
}
.mark_options__work {
    background: rgba(178, 203, 255, 0.34);
}
.mark_options__family {
    background: rgba(246, 128, 187, 0.34);
}
.mark_options__hobby {
    background: rgba(239, 224, 147, 0.34);
}
